Hi $nickname!

Wish you many happy returns of the day!!
May the choicest of blessings be showered on you.

Attached herewith is a small gift for you. Read and enjoy!!!

Warm regards,
Aadith




PS: If you have already read the book, feel free to tell me..you'll get another gift :-).